/* Home */

:root {
  --color-blue: #2d9be3;
  --color-black: #0d0d0d;
  --font-default: "Oswald", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-default);
}

body {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: var(--font-default);
}

.home-wrapper,
.about-wrapper,
.business-wrapper,
.sustainability-wrapper,
.investors-wrapper {
  width: 100%;
  min-width: 300px;
}

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

.navbar {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  height: 70px;
}

.navbar-menu a {
  color: black;
  margin-left: 10px;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
}

.navbar-menu a:hover {
  color: var(--color-blue);
}

.navbar-menu a:nth-last-child(1) {
  background-color: var(--color-blue);
  color: #fff;
  padding: 5px 10px;
}

.menu-icon {
  display: none;
}
.home-container {
  width: 100%;
}

.home-image img,
.about-image img,
.business-image img,
.sustainability-image img,
.investors-image img {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.home-icon {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.home-icon img {
  width: 200px;
}

.allinol-reason {
  text-align: center;
}

.allinol-reason h1 {
  font-size: 3em;
  color: var(--color-blue);
}

.home-icon .icon {
  display: inline-block;
  margin: 0 100px;
}

.icon p {
  font-size: 1.5em;
}

.allinol-information {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: var(--color-blue);
  color: #fff;
  padding: 50px 0;
}

.information {
  text-align: center;
}

.information h1 {
  font-size: 3em;
  margin: 0;
}

.contact-us {
  padding: 30px 100px;
}

.contact-us h1 {
  font-size: 2em;
}

.contact-form input,
.contact-form label,
.contact-form textarea {
  font-size: 1.5em;
  width: 500px;
}

label {
  display: block;
}

footer {
  color: #fff;
  background-color: var(--color-black);
  padding: 50px 0;
}

.office h1,
.overview h1,
.questions h1,
.contact-us h1 {
  color: var(--color-blue);
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.office p {
  max-width: 200px;
  line-height: 3;
}

.overview ul {
  margin: 0;
  padding: 0;
}

.overview ul li {
  list-style-type: none;
}

.overview ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  margin: 10px 0;
}

.questions input[type="email"] {
  display: block;
  font-size: 1.2em;
}

.submit-button {
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 3px;
  margin: 10px 0;
  font-size: 1.2em;
}

.copyright {
  text-align: center;
  margin-top: 50px;
}

/* About Us */

.ceo-profile {
  padding: 50px 0;
  text-align: center;
}

.ceo-profile h1 {
  font-size: 3em;
  margin: 0;
}
.ceo-profile h2 {
  color: var(--color-blue);
}

.company-overview {
  background-color: var(--color-blue);
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

.company-overview h1 {
  font-size: 2em;
  margin-top: 0;
}

.company-overview p {
  margin: 0 auto;
  font-size: 1.2em;
  padding: 0 50px;
}

/* Our Business */

.business {
  text-align: center;
  padding: 0 50px;
}

.business h1 {
  font-size: 2em;
  color: var(--color-blue);
}

.business p {
  font-size: 1.2em;
  margin: 0 auto;
}

.business-allinol {
  margin: 100px 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.business-allinol div img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.business-allinol div p {
  font-size: 1.5em;
  text-align: center;
}

/* Sustainability */

.ceo-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 100px 0;
  margin: 0 100px;
}

.ceo-image img {
  width: 400px;
}

.ceo-message h1 {
  font-size: 2em;
  color: var(--color-blue);
}

.ceo-message p {
  font-size: 1.2em;
  text-align: justify;
}
.ceo-message {
  width: 500px;
}

/* Investors */

.press-finacial-reports-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #fff;
}

.press-finacial-reports-container h1 {
  font-size: 24px;
  margin-left: 20px;
}

.press-finacial-reports-container h2 {
  font-size: 20px;
}

.press-release-wrapper {
  width: 600px;
  background-color: #2d9be3;
  border-radius: 15px;
}

.financial-reports-wrapper {
  width: 350px;
  background-color: #2d9be3;
  border-radius: 15px;
}

.financial-reports-wrapper h2 {
  margin-left: 20px;
}

.press-realese-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.financial-reports-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.press-release-wrapper ul li {
  list-style: none;
  margin-left: -20px;
}

.press-release-wrapper ul li a {
  text-decoration: none;
  color: #fff;
}

.financial-reports-wrapper ul li {
  list-style: none;
}

.financial-reports-wrapper ul li a {
  text-decoration: none;
  color: #fff;
}

.financial-reports ul {
  display: flex;
  flex-direction: row;
}

.financial-reports ul li {
  margin: 10px;
  border-style: solid;
  padding: 5px 15px 5px 15px;
  border-radius: 15%;
  align-items: center;
}

.stock-information-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 100px;
}

.stock-information-table {
  display: flex;
  flex-direction: column;
}

.stock-information-table tr th {
  text-align: left;
  padding-bottom: 50px;
}

.stock-information-table th {
  width: 200px;
}

.stock-graph-wrapper img {
  width: 480px;
}

.financial-reports-head a img {
  width: 32px;
  height: 32px;
}

.press-realese-head a img {
  width: 32px;
  height: 32px;
}

/* News */

.article-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}

.article-wrapper article {
  border: 1px;
  border-style: solid;
  border-color: #2d9be3;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.article-wrapper article img {
  max-width: 100%;
}

.article-wrapper .article-text {
  padding: 20px;
}

.news-container {
  margin-top: 200px;
  margin-bottom: 30px;
}

.article-text a {
  text-decoration: none;
  color: #2d9be3;
}

/* Responsive */

@media (max-width: 480px) {
  .navbar-menu {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar-dropdown {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .navbar-menu a {
    display: block;
    margin: 0;
    padding: 30px 0;
  }

  .navbar-menu a:nth-last-child(1) {
    background-color: unset;
    color: #000;
    padding: 30px 0;
  }

  .navbar-logo img {
    height: 50px;
  }

  .home-icon {
    gap: 20px;
  }

  .menu-icon {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
  }

  .icon img {
    width: 100px;
  }

  .icon p {
    font-size: 1em;
  }

  .allinol-information {
    flex-direction: column;
    gap: 30px;
  }

  .information p {
    margin: 0;
  }

  .contact-us h1 {
    text-align: center;
  }

  .contact-form input,
  .contact-form label,
  .contact-form textarea {
  width: 100%;
}

  .footer-container {
    flex-direction: column;
    margin: 0 100px;
  }

  /* About */

  .company-overview {
    padding: 50px 30px;
  }

  .company-overview p {
    margin: 0 auto;
    font-size: 1em;
  }
  
  /* Business */

  .business-allinol div img {
    width: 200px;
    height: 200px;
  }
  
  .business-allinol div p {
    font-size: 1em;
  }

  /* Sustainability */

  .ceo-message-container {
    margin: 50px;
  }

  .ceo-image img {
    width: 200px;
  }

}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    font-size: 1.5em;
    cursor: pointer;
  }

  .navbar-menu {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .navbar-dropdown {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .navbar-menu a {
    display: block;
    margin: 0;
    padding: 30px 0;
  }

  .navbar-menu a:nth-last-child(1) {
    background-color: unset;
    color: #000;
    padding: 30px 0;
  }

  .contact-us h1 {
    text-align: center;
  }

  .contact-form input,
  .contact-form label,
  .contact-form textarea {
  width: 100%;
  }

  .footer-container {
    flex-direction: column;
    margin: 0 100px;
  }

  /* Business */

  .business-allinol {
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }

  /* Sustainability */
  .ceo-message-container {
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding: 0;
    margin: 50px;
  }

  .ceo-message {
    text-align: center;
  }

  .ceo-message {
    width: 100%;
    margin: 0;
  }
}